body {
	/*font-size: 18px;*/
}

pre
{
	background-color: #F8F8FE;
}


.ratio-16-9
{
	position: relative;

	padding-bottom: 56.25%;
	height: 0;

	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
	
	margin-bottom: 1em;
}

iframe
{
	border: none;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}

.hljs
{
	background: none;
}
